.breadcrumbs {
  padding: 20px 0;
  display: flex;
  
  >a {
    &:after {
      content: "";
      display: block;
      background-image: url('../img/breadcrumb-arrow.svg');
      width: 10px;
      height: 12px;
      background-size: 100%;
      float: right;
      margin: 4px 0 0 20px;
    }
  }

  >a,
  >span {
    padding: 0 20px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: none;
    font-size: .85rem;
  }

  >span {
    color: #717171;
  }
}
