// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.button {
  display: inline-block;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  background-color: $primary;
  color: $yellow;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  position: relative;
  font-family: $header-font;
  font-weight: 700;
  border: solid 2px $primary;
  &.yellow {
    background-color: $yellow;
    color: $primary;
  
    &:hover {
      background-color: transparent;
    border: solid 2px $yellow;
    color: $primary;
    }
  }

 

  &:hover {
    text-decoration: none;
    background-color: transparent;
    border: solid 2px $primary;
    color: $primary;
  }

  &:focus,
  &.focus {
    outline: 0;

    // box-shadow: $btn-focus-box-shadow;
 
  }
}




