// stylelint-disable selector-no-qualifying-type

//
// Textual form controls
//

input[type="text"], input[type="email"] {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: $font-size-base;
    line-height: 1.1;
    color: $type_color;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
}



/*-------------------------------------------------------*\
    FORMS
/*-------------------------------------------------------*/

%select-styles {
    // @include prefixer(appearance, none);

    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 0;
    outline: none;
    color: $primary;
    line-height: 1.1;
    position: relative;
    width: 100%;
    min-height: 39px;
}


form {
    /* remove the default select arrow for IE10 and up */
    select {
        /* remove the default select arrow for non-IE browsers */
        cursor: pointer;
        cursor: s-resize;

        @extend %select-styles;

        &:focus, &:active {
            // box-shadow: 0 0 8px rgba($secondary, 0.2);
            outline: $secondary auto 1px !important;
            outline-offset: 0.7px;
        }

        &::-ms-expand {
            display: none;
        }
    }


    .of-label {
        line-height: 1.7;
    }

    input[type=submit], input[type=submit] {
        @include media-breakpoint-up(md) {
            min-width: 220px;
        }
    }
}


