//
// Grid
//

.block-grid {
  @include make-container();
  margin-bottom: $container-padding-small;

  @include media-breakpoint-up(md) {
    margin-bottom: $container-padding;
  }

  &.two-col {

      > * {
        margin-bottom: $grid-gutter-width * 2;
        &:last-child {
          margin-bottom: 0;
        }
      }

    @include media-breakpoint-up(md) {
      @include make-row(12);

      >* {
        margin-bottom: 0;
        
        &:nth-child(2n+1) {
          @include make-col(1, 6, 6);
        }

        &:nth-child(2n+2) {
          @include make-col(7, 6, 6);
        }

      }
    }
  }

  &.three-col {
    > * {
      margin-bottom: $grid-gutter-width * 2;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-up(md) {
      @include make-row(12);

      >* {
        margin-bottom: 0;
        &:nth-child(3n+1) {
          @include make-col(1, 4, 4);
        }

        &:nth-child(3n+2) {
          @include make-col(5, 4, 4);
        }

        &:nth-child(3n+3) {
          @include make-col(9, 4, 4);
        }
      }
    }
  }
}

.tout-grid {
  margin-bottom: $container-padding;
  @include media-breakpoint-down(lg) {
    margin-bottom: $container-padding-small;
    @include make-container();
  }

  &.two-col {
    > * {
      margin-bottom: $grid-gutter-width * 2;
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-up(md) {
      @include make-row(12);
      >* {
        margin-bottom: 0;
        &:nth-child(2n+1) {
          @include make-col(1, 6, 6);
        }

        &:nth-child(2n+2) {
          @include make-col(7, 6, 6);
        }
      }
    }
  }

  &.three-col {
    > * {
      margin-bottom: $grid-gutter-width * 2;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-up(md) {
      @include make-row(12);

      >* {
        margin-bottom: 0;
        &:nth-child(3n+1) {
          @include make-col(1, 4, 4);
        }

        &:nth-child(3n+2) {
          @include make-col(5, 4, 4);
        }

        &:nth-child(3n+3) {
          @include make-col(9, 4, 4);
        }
      }
    }
  }

}