// stylelint-disable selector-no-qualifying-type

//
// Navigation
//

@include media-breakpoint-down(md) {
  nav {
    /* Mobile Nav */
    &.primary-navigation {
      li {
        &:not(.nav-button) {
          a {
            padding: 2px 0;
            transition: all .2s ease;
            display: block;

            &:hover {
              transform: translateX(2px);
              opacity: .9;
            }
          }
        }
      }

      .toggle-nav {
        filter: none;
        outline: none;
        max-width: 40px;
        color: transparent;
        width: 100%;
        clear: both;
        padding-bottom: 1.9em;
        border: none;
        background-color: transparent;
        position: fixed;
        align-items: start;
        display: flex;
        justify-content: right;
        float: right;
        right: 0;
        margin-right: 9vw;
        z-index: 5;
        position: absolute;

        // top: auto;
        top: 5em;
        bottom: 90%;
        bottom: calc(100% - 23vw);

        @include transition(filter, 0.4s);

        + ul {
          height: 0;
          max-height: 0;
          opacity: 0;
          overflow: hidden;
          transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          position: relative;
          text-align: left;
          height: auto;
          text-align: left;
          background: transparent;
          transition-property: opacity;
          display: block;
          transform: translateY(-100vh);

          li {
            &.nav-button {
              &:last-child {
                position: absolute;
                margin: auto;
                float: none;
                display: grid;
                align-items: center;
                max-width: 100%;
                min-width: 100%;
                right: 0;
                text-align: center;
                justify-content: left;
                padding: 5px 9vw;
                top: 85px;
                bottom: auto;

                a {
                  background-color: white;

                  &:hover {
                    background-color: $secondary;
                  }
                }
              }
            }
          }
        }
      }

      span {
        display: block;
        position: absolute;
        top: 14.5px;
        left: 0;
        right: 0;
        height: 3px;
        width: 100%;
        background: $secondary;
        transition: background 0s 0.3s;
        overflow: visible;

        &:before,
        &:after {
          position: absolute;
          display: block;
          left: 0;
          height: 3px;
          content: "";
          background: $secondary;
          transition: background 0.3s;
          transition-duration: 0.3s, 0.3s;
          transition-delay: 0.3s, 0s;
          width: 100%;
          right: 0;
        }

        &:before {
          top: -8px;
          transition-property: top, transform;
        }

        &:after {
          top: 8px;
          transition-property: bottom, transform;
        }
      }
    }

    &.active {
      background: transparent;
      z-index: 9;

      // box-shadow: 0 0 20px #ddd;
      left: 0;

      .toggle-nav {
        filter: grayscale(1) brightness(0);

        &:after,
        &:before {
          transition-delay: 0s, 1s;
        }

        span {
          background: none;
          transition-delay: 0s;

          &:after {
            bottom: 0;
            top: 0;
            transform: rotate(-45deg);
            box-shadow: 0 0 1px transparent !important;
          }

          &:before {
            top: 0;
            transform: rotate(45deg);
          }
        }

        + ul {
          height: auto;
          max-height: 100vh;
          opacity: 1;
          overflow: visible;
          padding: 1rem 0;
          width: 100%;
          position: absolute;
          left: 0;
          right: 0;
          padding: 11rem 9vw;
          top: 0;
          background: white;
          z-index: 4;
          background: white;
          border-bottom: 1px solid $light_gray;
          // background: linear-gradient(to bottom, #ffffffed 0%, #ffffffe6 50%, #ffffffd6 100%);
          padding-bottom: 50vh;
          transform: translateX(0);
          height: 100vh;
        }
      }
    }
  }
}
