// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $header-font;
  font-weight: 700;

  &.accent {
    font-family: $header-font-alternate;
    font-weight: normal;
    letter-spacing: 1px;

    display: inline-block;
    position: relative;
    z-index: 2;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/background-paint-large.svg');

    &.tilted {
      transform: rotate(-7deg);
    }
  }

  a {
    text-decoration: none;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}

h1,
.h1 {
  font-size: $h1-font-size-small;
  line-height: .95;

  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size-medium;
  }

  @include media-breakpoint-up(xl) {
    font-size: $h1-font-size;
  }
}

h2,
.h2 {
  font-size: $h2-font-size-small;

  &.accent {
    font-size: $h2-font-size-accent-small;
    @include media-breakpoint-up(md) {
      font-size: $h2-font-size-accent-medium;
    }
    @include media-breakpoint-up(lg) {
      font-size: $h2-font-size-accent;
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: $h2-font-size;

  }

  &.accent {
    padding: 30px 40px;
  }
}

h3,
.h3 {
  font-size: $h3-font-size-small;
  line-height: 1.1;

  @include media-breakpoint-up(lg) {
    font-size: $h3-font-size;
  }
}

h4,
.h4 {

  font-size: $h4-font-size-small;

  @include media-breakpoint-up(lg) {
    font-size: $h4-font-size;
  }

  &.accent {
    padding: 10px 15px;
  }
}

h5,
.h5 {
  font-size: $h5-font-size-small;

  @include media-breakpoint-up(lg) {
    font-size: $h5-font-size;
  }

}

h6,
.h6 {
  font-size: $h6-font-size-small;

  @include media-breakpoint-up(lg) {
    font-size: $h6-font-size;
  }
}

p,
ul,
ol {
  margin-top: 0;
  font-size: $font-size-base;
  line-height: 1.45;
}

p {
  margin-bottom: 20px;
}

.post-meta {
  margin-bottom: 10px;
  font-size: .9rem;
  font-weight: 400;

  span {
    letter-spacing: 1px;
    font-weight: 700;

    text-transform: uppercase;
    padding-right: 10px;
  }
}


.blocked-header {
  &.dual-color {
    span:first-child {
      background-color: $yellow;
      color: $primary;
    }

    span:last-child {
      background-color: $primary;
      color: $yellow;
    }
  }

  &.yellow {
    span {
      background-color: $yellow;
      color: $primary;
    }
  }

  &.green {
    span {
      background-color: $green;
      color: $yellow;
    }
  }

  &.purple {
    span {
      background-color: $primary;
      color: $yellow;
    }
  }

  span {
    padding: 0 10px;
    display: table;

    &:first-child {
      padding-top: 5px;
      padding-bottom: 3px;
      ;
    }

    &:last-child {
      padding-bottom: 5px;
    }
  }
}