// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background) {
  background-color: $background;
  @if $background == white {
    color: $type_color;
  } @else {
    color: #fff;
  }
  

}

@mixin button-outline-variant($color) {
  border: solid 1px $color;
color: $color;
  &:hover {
    background-color: $color;
    @if $color == white {
      color: $link_color;
    } @else {
      color: #fff;
    }
  }
}