/**
 * Prefixer
 *
 * @param $property
 * @param $value
 * @param $prefixes - browser prefixes
 * @param $important - add '!important'
 */
@mixin prefix($property, $value, $prefixes: null, $important: false) {
  @if $prefixes == null {
    @if variable-exists(browser-prefixes) {
      $prefixes: $browser-prefixes;
    }
    @else {
      $prefixes: "webkit", "moz", "ms", "o";
    }
  }

  @if $important == true {
    $value: maybe-unquote($value) !important;
  }

  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: maybe-unquote($value);
  }

  #{$property}: maybe-unquote($value);
}

/**
* Alias for `@mixin prefix`'
*/
@mixin prefixer($property, $value, $prefixes: null, $important: false) {
  @include prefix($property, $value, $prefixes, $important);
}

/**
 * Property Prefixer (e.g. 'cursor: -webkit-grab')
 *
 * @param $property
 * @param $value
 * @param $prefixes
 */
@mixin property-prefixer($property, $value, $prefixes: null) {
  @if $prefixes == null {
    @if variable-exists(browser-prefixes) {
      $prefixes: $browser-prefixes;
    }
    @else {
      $prefixes: "webkit", "moz", "ms", "o";
    }
  }

  #{$property}: $value;

  @each $prefix in $prefixes {
    $property: #{"-" + $prefix + "-" + $value};
  }
}

/**
 * CSS Transitions
 *
 * @param $property
 * @param $time
 * @param $easing
 * @param $delay
 */
@mixin transition($property: all, $time: null, $easing: cubic-bezier(0, 0.32, 0, 1.12), $delay: 0s) {
  @if $time == null {
    $time: val($duration, transition, 0.25s);
  }

  @include prefixer(transition, maybe-unquote($property) $time $easing);

  transition-delay: $delay;
}

/**
 * Transform
 *
 * @param $option
 */
@mixin transform($option) {
  @include prefixer(transform, $option);
}


/**
 * Show for screen-readers
 */
@mixin show-for-sr {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px!important;
}

/**
 * Show for all screens
 */
@mixin show-for-all {
    clip: auto;
    height: auto;
    overflow: visible;
    width: auto;
}


/**
 * Clearfix
 */
@mixin clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}
