.basic-grid {
  @include make-container(small );
  padding-bottom: 120px;
  > div {
    .phone {
      padding-left: 30px;
      position: relative;
      &::before {
        content: "";
        background: url('../img/phone.svg');
        display: block;
        width: 25px;
        height: 29px;
        position: absolute;
        left: 0;
      }
    }
    .address {
      padding-left: 30px;
      position: relative;
      &::before {
        content: "";
        background: url('../img/marker.svg');
        display: block;
        width: 25px;
        height: 32px;
        position: absolute;
        left: 0;
      }
    }
    iframe {
      width: 100%;
    }
  }
  &.one-col {
    @include make-container(xsmall);
  }
  &.two-col {
    @include media-breakpoint-up(md) {
      @include make-row(2);
    }
    > div {
      @include make-col-ready();
      &:nth-child(2n+1) { 
        @include media-breakpoint-up(md) {
          @include make-col(1,6,1);
        }
      }
      &:nth-child(2n+2) { 
        @include media-breakpoint-up(md) {
          @include make-col(2,6,1);
        }
      }
    }
  }
  &.three-col {
    @include media-breakpoint-up(md) { 
      @include make-row(2);
    }
    @include media-breakpoint-up(lg) {
      @include make-row(3);
    }
    > div {
      &:nth-child(3n+1) {
        @include media-breakpoint-up(md) { 
          @include make-col(1,6,1);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(1,4,1);
        }
      } 
      &:nth-child(3n+2) {
        @include media-breakpoint-up(md) { 
          @include make-col(2,6,1); 
        }
        @include media-breakpoint-up(lg) {
          @include make-col(2,4,1);
        }
      } 
      &:nth-child(3n+3) {
        @include media-breakpoint-up(lg) {
          @include make-col(3,4,1);
        }
      } 
    }
  }
  &.two-thirds {
    @include media-breakpoint-up(md) {
      @include make-row(12);
    }
    > div {
      @include make-col-ready();
      &:nth-child(2n+1) {
        @include media-breakpoint-up(md) {
          
          @include make-col(1,6,6);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(1,8,7);
        }
      }
      &:nth-child(2n+2) {
        @include media-breakpoint-up(md) {
          @include make-col(7,6,6); 
          
        }
        @include media-breakpoint-up(lg) {
          @include make-col(8,4,5); 
        }
      } 
    }
  }
}